.site-loader {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  z-index: 10000;
  overflow: hidden;
  padding: 3.5rem 1.25rem;
  background-color: $white;
  pointer-events: none;

  @include breakpoint($md) {
    padding: 5.5rem;
  }

  @include dark {
    background-color: #111;
  }

  &.init {
    .photos {
      img {
        opacity: 1;
        top: 0;

        &:nth-child(1) {
          transform: rotate(0deg);
        }

        &:nth-child(2) {
          transform: rotate(0deg);
        }

        &:nth-child(3) {
          transform: rotate(0deg);
        }
      }
    }
  }

  &.end {
    .photos {
      img {
        opacity: 0;
        top: 50vh;

        &:nth-child(1) {
          transform: rotate(20deg);
        }

        &:nth-child(2) {
          transform: rotate(-20deg);
        }

        &:nth-child(3) {
          transform: rotate(10deg);
        }
      }
    }
  }

  .photos {
    position: absolute;
    text-align: center;
    width: 10.5rem;
    height: 13rem;
    left: calc(50% - 5.25rem);
    top: calc(50% - 9rem);

    @include breakpoint($md) {
      width: 17.75rem;
      height: 22rem;
      left: calc(50% - 8.875rem);
      top: calc(50% - 15rem);
    }

    img {
      width: 100%;
      position: absolute;
      left: 0;
      top: -80vh;
      opacity: 0;
      transition: all 1.5s cubic-bezier(0.37, 0.31, 0, 1);

      &:nth-child(1) {
        transition-delay: 0.6s;
        transform: rotate(20deg);
      }

      &:nth-child(2) {
        transition-delay: 0.4s;
        transform: rotate(-20deg);
      }

      &:nth-child(3) {
        transition-delay: 0.2s;
        transform: rotate(10deg);
      }
    }
  }

  .text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
    font-family: $base-family-primary;
    font-size: 1rem;
    line-height: 1.8;
    color: #666;

    @include breakpoint($md) {
      font-size: 1.25rem;
    }

    @include dark {
      color: #c4c4c4;
    }

    .number {
      font-size: 2.5rem;
      line-height: 0.8;
      color: $black;

      @include breakpoint($md) {
        font-size: 5rem;
      }

      @include dark {
        color: $white;
      }
    }
  }

  .line {
    margin-top: 2rem;

    div {
      background-color: #c7c7c7;
      width: 0;
      height: 1px;

      @include dark {
        background-color: #666;
      }
    }
  }
}

.main-wrapper {
  visibility: hidden;
}

.site-transition {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  z-index: 100;
  overflow: hidden;
  background-color: $white;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: background-color 0.2s ease-in-out;

  @include dark {
    background-color: #111;
  }
}
