// Gutenberg color options
// -- see editor-color-palette in functions.php
$colors: ( blue, #162FF0 ),
	( white, #FFFFFF ),
	( black, #101012 );

/* Color Options
--------------------------------------------- */

@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}
}